$container: 1200px;
$header-nav-fontsize: 12px;
$orange: #ff4200;
$blue: #55a5fe;
$darker-blue:#4386e2;
$light-grey:#dfdfdf;
$darker-grey:#999;
$darker1-grey:#666;
$dark-black:#333;
$font-black:#333;
$font-grey:#aaa;
$border-grey:#ccc;
$rights-blue:#6a8aec;
$red:#ff0000;
$bg-grey: #F2F2F2;